# Normalize line endings
* text=auto

# Scripts should stay LF
*.sh text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.sage text eol=lf
*.md text eol=lf

# Windows scripts can be CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
